<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="astro-parser-ast-viewer" />
    <meta property="og:site_name" content="astro-parser-ast-viewer" />
    <meta property="og:locale" content="en_US" />
    <meta name="og:description" content="viewer of AST parsed by @astrojs/parser" />
    <meta name="description" content="viewer of AST parsed by @astrojs/parser" />
    <meta property="og:url" content="https://astro-parser-ast-viewer.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image"
        content="https://user-images.githubusercontent.com/62130798/134010476-74942632-32aa-4fe0-a789-c5673f5f8e5b.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" />
    <title>Astro Parser AST Viewer</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>